POSTGRES_PASSWORD=CHANGE_ME
MINIO_ROOT_USER=payodi
MINIO_ROOT_PASSWORD=CHANGE_ME

DATABASE_URL=postgresql+asyncpg://payodi:CHANGE_ME@localhost:5432/payodi_db
REDIS_URL=redis://localhost:6379/0
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=payodi
MINIO_SECRET_KEY=CHANGE_ME
