@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #243247;
  }
  body {
    background-color: #0a0e17;
    color: #f1f5f9;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0d131f;
}
::-webkit-scrollbar-thumb {
  background: #243247;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}
